body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #0f0f0f 0%, #000 100%);
  color: white;
  text-align: center;
}

.container {
  padding: 60px 20px;
}

.logo {
  font-size: 60px;
  letter-spacing: 4px;
}

.subtitle {
  opacity: 0.7;
  margin-bottom: 40px;
}

.input-box {
  margin-bottom: 50px;
}

input {
  padding: 12px;
  width: 250px;
  border: none;
  border-radius: 6px;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  background: #00ff9d;
  color: black;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
}

button:hover {
  background: #00cc7a;
}

.certificate {
  position: relative;
  background: linear-gradient(145deg, #1a1a1a, #111);
  padding: 70px;
  border-radius: 25px;
  width: 900px;
  margin: 0 auto;
  box-shadow: 0 0 60px rgba(0, 255, 157, 0.2);
  overflow: hidden;
}

.watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-12deg);
  width: 650px;
  opacity: 0.05;
  pointer-events: none;
  z-index: 0;
  filter: blur(1px);
}

.content {
  position: relative;
  z-index: 1;
}

.certificate h2 {
  font-size: 34px;
}

.certificate h3 {
  font-size: 42px;
  margin: 25px 0;
  color: #00ff9d;
}

.date {
  display: block;
  margin-top: 25px;
  opacity: 0.6;
}
